*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  line-height:1.6;
}
/*--Code from Brad Traversy https://codepen.io/bradtraversy/pen/XerXYV--*/
#showcase{
  background-image:url('/assets/images/bg_landing.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:top;
  align-items:center;
  text-align:center;
  text-shadow: 4px 4px 3px black;
  padding-top: 5%;
  color:#fff;
}

#showcase h1{
  font-size:50px;
  line-height:1.5;
}

#showcase p{
  font-size:20px;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  background-color: rgba(0,0,0, 0.7);
  color:#fff;
  border:#fff 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:rgba(65, 65, 65, 0.7);
  color:#fff;
}

/*--Code from Brad Traversy https://codepen.io/bradtraversy/pen/XerXYV ending--*/

/*navlink animation*/

.nav-link:hover {
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
    transition:  0.3s ease-in-out;
}

.section-pad {
    padding-top: 145px;
}

.c-select {
    margin: 10px;
    max-width: 800px;
}

/* -- card settings -- */

.card {
    margin-bottom: 16px;
}

.card-body {
    min-height: 1px;
    padding: .5rem;
    text-align: center;
    -webkit-box-shadow: 15px 11px 19px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 15px 11px 19px -4px rgba(0,0,0,0.5);
    box-shadow: 15px 11px 19px -4px rgba(0,0,0,0.5);    
}

.card-title {
    margin-top: 10px;
}
/*-- parallax section inspired by https://github.com/Eventyret/simple-parallax --*/

.title-bg {
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    -webkit-box-shadow: 0px 24px 17px -11px rgba(255,255,255,1);
-moz-box-shadow: 0px 24px 17px -11px rgba(255,255,255,1);
box-shadow: 0px 24px 17px -11px rgba(0,0,0,0.4);

}

.title-div-body {
    height: 350px;
    max-width: 100vw;
}

.e-country-bg {
    background:url('/assets/images/e-country-bg.png') no-repeat center fixed;
    background-size:cover;
}

.n-country-bg {
    background:url('/assets/images/n-country-bg.png') no-repeat center fixed;
    background-size:cover;
}

.s-country-bg {
    background:url('/assets/images/s-country-bg.png') no-repeat center fixed;
    background-size:cover;
}
 
.w-country-bg {
    background:url('/assets/images/w-country-bg.png') no-repeat center fixed;
    background-size:cover;
}

.east-bg {
    background:url('/assets/images/budapest.jpg') no-repeat center fixed;
    background-size:cover;
}

.north-bg {
    background:url('/assets/images/stockholm.jpg') no-repeat center fixed;
    background-size:cover;
}
.south-bg {
    background:url('/assets/images/rome.jpg') no-repeat center fixed;
    background-size:cover;
}
.west-bg {
    background:url('/assets/images/london.jpg') no-repeat center fixed;
    background-size:cover;
}
/*region animation on hover*/
#east:hover, #north:hover, #south:hover, #west:hover {
 cursor: pointer;
 letter-spacing: 3px;
 opacity: 0.8;
}

#east, #north, #south, #west {
    transition: letter-spacing 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
