@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*--Code for landing from Brad Traversy https://codepen.io/bradtraversy/pen/XerXYV--*/
#showcase{
  background-image:url('../images/jpg/bg_landing.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:top;
  align-items:center;
  text-align:center;
  text-shadow: 4px 4px 3px black;
  padding-top: 5%;
  color:#fff;
}

#showcase h1{
  font-size: calc(2em + 2vw);
}

#showcase p{
  font-size: calc(1em + 0.2vw);
  font-family: 'Source Sans Pro', sans-serif;
}

#showcase .button{
  font-size:1em;
  text-decoration:none;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(0,0,0, 0.7);
  color:#fff;
  border:#fff 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:rgba(65, 65, 65, 0.7);
  color:#fff;
}

/*--Code from Brad Traversy https://codepen.io/bradtraversy/pen/XerXYV ending--*/

/* navigation */
#navtitle{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-shadow: 0 0 15px rgb(0, 0, 0);
}

.bg-dark {
    background-color: #002952!important;
    -webkit-box-shadow: 0px 0px 29px 8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 29px 8px rgba(0,0,0,1);
    box-shadow: 0px 0px 29px 8px rgba(0,0,0,1); 
}

.navbar {
    min-height: 50px;
    padding: 0 10px;
}

/*navigaton animation*/

.nav-link:hover {
    background: rgba(0, 0, 0, 0.3);
    letter-spacing: 3px;
    transition:  0.3s ease-in-out;
}

#menubutton {
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

#menubutton:hover,  #menubutton:focus {
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    transition:  0.2s ease-in-out;
}


#logo:hover {
    transform: scale(0.8);
    transition:  0.3s ease-in-out;
}

.section-pad {
    padding-top: 145px;
}


/*anchor styling*/
a {
    color: rgb(0,0,0);
    text-decoration: none;
}

a:hover {
    color: rgb(0,0,0);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    transition:  0.3s ease-in-out;
}

/* -- country selection buttons -- */

.btn-secondary {
    background-color:rgb( 2, 57, 112);
    margin: 10px;
    max-width: 800px;
}

.btn-secondary:hover {
    background-color:#001222;
    font-weight: bold;
    letter-spacing: 3px;
    transition:  0.3s ease-in-out;
    
}

.btn-secondary:focus{
    background-color:#001222;
    letter-spacing: 3px;
    transition:  0.3s ease-in-out;
}

/* -- card settings -- */

.card {
    margin-bottom: 16px;
}

.card-body {
    min-height: 1px;
    padding: .5rem;
    text-align: center;
    -webkit-box-shadow: 15px 11px 19px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 15px 11px 19px -4px rgba(0,0,0,0.5);
    box-shadow: 15px 11px 19px -4px rgba(0,0,0,0.5);    
}

/* float animation ispired by https://codepen.io/MarioDesigns/pen/woJgeo */

.card:hover{
animation: float 6s infinite;
}

@keyframes float {
	0% {
	
		transform: translatey(0px);
	}

	50% {
	;
		transform: translatey(-5px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

/* Modal properties */
.modal-footer .btn{
    width: 100vw;
    border: solid 1px #fff;
}

.modal-content:hover{
    animation: none;
}

.card-title {
    margin-top: 10px;
}


/* Font properties */

.fontmarck {
    font-family: 'Marck Script', cursive;
}
.sourcesans-i-b {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 600; 
}
/*-- css settings for modal-dialog inspired by https://stackoverflow.com/questions/4919076/outline-effect-to-text --*/
.modal-dialog, .close, .modal-footer .btn {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 3px #000, 1px 1px 0 #000;
    
}

.modal-footer .btn:hover {
    background: rgba(0, 0, 0, 0.5);
    transition:  0.2s ease-in-out;
}

/*-- parallax section inspired by https://github.com/Eventyret/simple-parallax --*/

.title-bg {
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    -webkit-box-shadow: 0px 24px 17px -11px rgba(255,255,255,1);
-moz-box-shadow: 0px 24px 17px -11px rgba(255,255,255,1);
box-shadow: 0px 24px 17px -11px rgba(0,0,0,0.4);

}

.title-div-body {
    height: 350px;
    max-width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
}

/* background images */
.e-country-bg {
    background:url('../images/png/e-country-bg.png') no-repeat center fixed;
    background-size:cover;
}

.n-country-bg {
    background:url('../images/png/n-country-bg.png') no-repeat center fixed;
    background-size:cover;
}

.s-country-bg {
    background:url('../images/png/s-country-bg.png') no-repeat center fixed;
    background-size:cover;
}
 
.w-country-bg {
    background:url('../images/png/w-country-bg.png') no-repeat center fixed;
    background-size:cover;
}

.east-bg {
    background:url('../images/jpg/budapest.jpg') no-repeat center fixed;
    background-size:cover;
}

.north-bg {
    background:url('../images/jpg/stockholm.jpg') no-repeat center fixed;
    background-size:cover;
}
.south-bg {
    background:url('../images/jpg/rome.jpg') no-repeat center fixed;
    background-size:cover;
}
.west-bg {
    background:url('../images/jpg/london.jpg') no-repeat center fixed;
    background-size:cover;
}

.modal-content {
    background:url('../images/jpg/modal-bg.jpg');
    
}
/*region animation on hover*/
#east:hover, #north:hover, #south:hover, #west:hover {
 cursor: pointer;
 letter-spacing: 3px;
 opacity: 0.8;
}

#east, #north, #south, #west {
    transition: letter-spacing 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
